{{#unless errors}}
  <ul class="collection with-header">
    <li class="collection-header"><h4>Users</h4></li>
    {{#each data}}
      {{>admin/userManagement/usersListRow}}
    {{/each}}
  </ul>
{{/unless}}