<div class="form row z-depth-1 col s12">
  <label>
    <h4>Update Credentials</h4>
  </label>
  <form class="col s12" action="/users/{{user.id}}/email" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder={{user.email}} name="email" type="text" class="validate">
        <label for="name">Email</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">Update
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>