<!DOCTYPE html>
<html>
<head>
  <title> RESTaurants </title>
  <!-- MATERIALIZE -->
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <!-- CUSTOM CSS -->
  <link href='/css/app.css' rel="stylesheet">
</head>
<body>
  {{>common/header}}
  {{>common/errors}}
  <div class="container page-content">
    {{{body}}}
  </div>
  {{>common/footer}}
</body>
</html>
