.login, .create-user {
  width: 50%;
}

.header {
  padding: 0px 0px 60px 10px;
}

.error.row {
  margin: 0;
}

.error-message {
  margin: auto;
  display: table;
}

.navbar-button {
  margin: 13px;
}

.form {
  padding: 25px;
}

.page-footer {
  margin-top:auto;
}

.page-content {
  margin-bottom:50px;
  margin-top:50px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.hidden {
  display: none;
}

.tertiary-content {
  position:absolute;
  top:16px;
  right:128px
}