<form action="/restaurants/{{_id}}/delete" method="POST">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button class="btn-floating btn-flat waves-effect waves-light red" type="submit">
    <i class="material-icons">delete</i>
  </button>
</form>