<form action="/restaurants/{{id}}/delete" method="POST">
  <button class="btn-floating waves-effect waves-light red" type="submit">
    <i class="material-icons">delete_forever</i>
  </button>
</form>