<form action="/restaurants/{{id}}/delete" method="POST">
  <button class="btn-floating btn-flat waves-effect waves-light red" type="submit">
    <i class="material-icons">delete</i>
  </button>
</form>