<form action="/comments/{{id}}/delete" method="POST" class="secondary-content">
  <input type="hidden" value={{restaurant}} name="restaurant">
  <button class="btn-floating waves-effect waves-light red" type="submit">
    <i class="material-icons">delete</i>
  </button>
</form>