<li class="collection-item avatar">
  <i class="material-icons circle cyan darken-2">comment</i>
  <b class="title"> {{owner.email}} </b>
  | <label> {{formatDate updatedAt}} </label>
  <p class="comment-content" >{{comment}}</p>
  {{#ifEqualsOr owner._id user.id user.role.admin}}
    {{>restaurantComments/goToCommentPageButton}}
    {{>restaurantComments/deleteCommentButton}}
  {{/ifEqualsOr}}
</li>