<li class="collection-item avatar">
  <i class="material-icons circle cyan darken-2">comment</i>
  <b class="title"> {{owner.email}} </b>
  | <label> {{formatDate updatedAt}} </label>
  <p>{{comment}}</p>
</li>