<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s4"></div>
        <p class="grey-text text-lighten-4">anola-pukkila.samuli.a@student.uta.fi</p>
      </div>
    </div>
  </div>
</footer>