<nav class="header">
  <div class="nav-wrapper">
    <a href="/"> 
      <h4 class="brand-logo">RESTaurants</h4> 
    </a>
    <ul class="right hide-on-med-and-down">
      {{!-- User management button --}}
      {{#if user.role.admin}}
        <li>
          {{>accounts/toUserManagementButton}}
        </li>
      {{/if}}
      {{!-- User page button --}}
      {{#if authenticated}}
        <li>
          <a class="btn-floating btn-medium waves-effect waves-light" href="/users/{{user.id}}">
            <i class="material-icons">account_box</i>
          </a>
        </li>
      {{/if}}
      <li>
        {{!-- Login / Logout button  --}}
        {{#if authenticated}}
          <form action="/logout" method="POST">
            <button id="logout" class="navbar-button right waves-effect waves-light btn">Logout</button>
          </form>
        {{else}}
          <button id="login" class="navbar-button right waves-effect waves-light btn">Login</button>
        {{/if}}
      </li>
    </ul>
  </div>
</nav>

{{#unless authenticated}}
  <script>
    document.getElementById('login').addEventListener("click", function() {
      // login is a button for styling purposes, we're basically creating a link with href to login
      window.location.replace("/login")
    });
  </script>
{{/unless}}