html, body, .root, .app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.content {
  min-height: 100%;
  width: 75%;
  margin:auto auto 100px auto;
}

.dialog-content {
  min-width: 500px;
}

.errors {
  padding: 20px 10px;
  text-align: center;
  background-color: #cc0000 !important;
  color: whitesmoke;
}

.loading {
  width: 50vh;
  margin: auto;
  height: 50vh;
  text-align: center;
  margin-top: 50vh;
}

.flex-grid {
  display: flex;
  flex-flow: wrap;
}

.col-1 {flex: 0 0 8.3333%}
.col-2 {flex: 0 0 16.6666%}
.col-3 {flex: 0 0 25%}
.col-4 {flex: 0 0 33.3333%}
.col-5 {flex: 0 0 41.6666%}
.col-6 {flex: 0 0 50%}
.col-7 {flex: 0 0 58.3333%}
.col-8 {flex: 0 0 66.6666%}
.col-9 {flex: 0 0 75%}
.col-10 {flex: 0 0 83.3333%}
.col-11 {flex: 0 0 91.6666%}
.col-12 {flex: 0 0 100%}

[class*="col-"] {
  margin: 0 0 10px 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.title {
  margin: 50px auto;
}

.delete {
  color: #D50000;
}