html, body, .root, .app {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.content {
  min-height: 100%;
}

.dialog-content {
  min-width: 500px;
}

.errors {
  padding: 20px 10px;
  text-align: center;
  background-color: #cc0000 !important;
  color: whitesmoke;
}

.loading {
  width: 50vh;
  margin: auto;
  height: 50vh;
  text-align: center;
  margin-top: 50vh;
}