.restaurants-list {
  width: 75%;
  margin: 50px auto;
}

.list-column {
  flex-basis: 30%;
}

.comment {
  display: inline-block !important;
  width: 100%;
  padding: 0 !important;
}
.comment-text {
  margin-left: 20px !important;
  padding: 5px !important;
}