<div class="form row col s12">
  <label>
    <h5>Delete Account</h5>
  </label>
  <form class="col s12" action="/users/{{user.id}}/account/delete" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" type="submit" name="action">Delete
          <i class="material-icons right">send</i>
        </button>  
      </div>
    </div>
  </form>
</div>