<div class="row col s12">
  <label>
    <h4>Delete Account</h4>
    <h6>This will also permanently delete restaurants and comments made by this account</h6>
    <p>( GDPR Ahoy! )</p>
  </label>
  <form class="col s12" action="/users/{{data._id}}/delete" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="row">
      <div class="input-field">
        <button class="btn btn-flat waves-effect waves-light" type="submit" name="action">Delete
          <i class="material-icons right">send</i>
        </button>  
      </div>
    </div>
  </form>
</div>