<div class="form row z-depth-1 col s12">
  <label>
    <h4>Update Password</h4>
  </label>
  <form class="col s12" action="/users/{{data._id}}/password" method="POST" onsubmit="return validatePasswords()">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="row">
      <div class="input-field col s12">
        <input id="password" name="password" type="password" class="validate">
        <label for="password">New Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password1" type="password" class="validate">
        <label for="password1">New Password Again</label>
      </div>
    </div>
    <div id="password-match-error" class="card-panel white-text red darken-1 hidden">
      <h6 class="error-message"> 
        Passwords Must Match
      </h6>
    </div>
    <div class="row">
      <button class="btn btn-flat waves-effect waves-light" type="submit" name="action">Update
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>

<script>
  function validatePasswords() {
    let pass  = document.getElementById('password').value
    let pass1 = document.getElementById('password1').value
    if(pass !== pass1) {
      let err = document.getElementById('password-match-error')
      err.classList.remove("hidden")
      return false
    }
  }
</script>